[2017-07-08 09:05] tomsoderlund opened #1 "Current status of Micro frontends?"
Hi @neuland! Is this project active?

You're mentioned here:

https://medium.com/@tomsoderlund/micro-frontends-a-microservice-approach-to-front-end-web-development-f325ebdadc16

[2017-07-08 17:14] naltatis commented on #1
Great blogpost! Yes the project is still active. There will be new content in the next weeks. Thanks for mentioning.

[2017-09-09 08:09] naltatis commented on #1
Now I've reached the content I was planning for v1. More is coming, but I'm closing the issue now ...

[2017-09-09 08:09] #1 closed

[2017-10-08 12:43] dschulten opened #2 "Mention tooling to build micro-frontends"
Consider to add a section or a wiki page which mentions tooling to build micro-frontends without browser frameworks:

- [Sveltejs](https://svelte.technology/) compiles to pure js and optionally [custom elements](https://github.com/sveltejs/svelte/pull/811) as well and allows for server-side rendering.
- [Stenciljs](https://stenciljs.com/) seems to go a similar route and is inspired by sveltejs.

[2017-11-03 14:46] ThatGuyFromFinland opened #3 "How about JavaScript bundles, which only allow one instance of themselves to be run?"
This would be an important topic I guess. There are some JavaScript libraries, which do not allow multiple instances of themselves (like babel-polyfill).

How should we properly manage the dependencies, while maintaining a strong separation of concerns for Microservice teams? Building only one bundle could be a solution, but it might have side effects of which the too large size would perhaps be t

[2017-11-03 15:32] naltatis commented on #3
Polyfills are in deed a little bit tricky. We are using two different approaches here. The first one is **conditional execution**. So every team ships the polyfills they need, but does not run the polyfill code when it detects its already present. Nice thing here is that fragments don't depend on their environment and are truely self contained.

The other option we are acutally using is to have a

[2017-11-03 16:18] pedrotcaraujo commented on #3
Is it right to claim that with this approach the user will need to download all of the frameworks/libs used by fragments? How do you balanced the UX/DX to make this decision?

Micro-frontend makes sense for me on the DX side. I just would like to understand on the UX side. What were the costs of it?

[2017-11-03 16:38] naltatis commented on #3
As always it depends on how you implement it. I'll write more in depth about "performance" in the future, but in essance it boils down to "keeping it simple, only include dependencies you really need" and "beeing smart about lazy loading code".

Yes, the micro frontend approach focusses on maintaining high velocity in development by dividing a big application into smaller, easier to maintain parts

[2017-11-08 09:59] ThatGuyFromFinland opened #4 "Any plans on demo / template project?"
Does anyone of us have ready made demo / template project about this?

It seems, that I am going to give a presentation about this architectural style and might want to create such project as a by product if one doesn't already exist. I do not consider myself as an expert on the topic (I prefer more Data Science and more back end stuff) so I would prefer using someone else's ideas / feedback on my

[2017-11-08 13:04] naltatis commented on #4
Have you seen the product page example in the Repo? Up until now I only address integration on one page and data fetching/skeleton there.

I’m planning to add more examples to show how page transitions (html app shell) could be implemented. This is the next topic I’ll address.

After that I’ll go into performance topics, lazy loading, code splitting, bundling. And finally show a possible integrati

[2017-11-12 08:47] lawrence31983 opened #6 "Build issue"
Hey,

Is there a tutorial on getting this to build. I have webpack installed, docker installed but getting this error.

team_red_1    | ERROR in Entry module not found: Error: Can't resolve './src/client.js' in '/code'
team_red_1    | npm ERR! code ELIFECYCLE
team_red_1    | npm ERR! errno 2
team_red_1    | npm ERR! team-red@1.0.0 build: `webpack -p`
team_red_1    | npm ERR! Exit status 2
team_gre

[2017-11-12 11:48] naltatis commented on #6
Can you give some more detail?
Which project did you try to build? OS & Docker Version?

[2017-11-13 00:47] lawrence31983 commented on #6
I was following the directions on https://micro-frontends.org/  The section where it says you can play this sample coade on your local machine. Only Docker Compose needs to be installed. Thin it gives you git clone instructions and then you run the command docker –compose up --build

From: Michael Geers [mailto:notifications@github.com]
Sent: Sunday, November 12, 2017 4:49 AM
To: neuland/micro-fro

[2017-11-17 02:46] snowystinger opened #7 "Any plans to address integration testing between these components?"
As a micro frontend architecture with teams updating independently, it's a good idea to have some level of integration testing. How can this be handled? Does the overall container application specify a specific version of each component it's loading?

[2017-11-17 14:12] naltatis commented on #6
Ok, this looks like an issue with mounting the `src` directories to the docker container. I've added this to make it easy to change code without having to restart the containers. I've tested it on macOS. Not quite sure if there is something special you have to do on window.

Could you try to delete the three `volumes:` entries from the `docker-compose.yaml` file?

[2017-11-17 14:38] naltatis commented on #7
This is indeed a tricky topic.

Features inside one vertical are tested by the team itself. This is where we write most of our tests.

To make sure all pieces work together we also had projects where we've implenented an additional higher level integration test that tests a complete customer journey (eg. from homepage through checkout). For this to work the team responsible for this test must have

[2017-11-17 14:49] naltatis commented on #2
Haven't heard of them before. I'll look into them.
Generelly I'm trying to keep the site as framework/tool agnostic as possible. But it would definitly helpfull for people to also have more concrete examples or a starter-project for a specific stack (see also #4).

[2017-11-18 19:51] eavichay commented on #2
More tools for webcomponents:
1. Polymer (https://www.polymer-project.org/)
2. slim.js (http://slimjs.com)
3. skate-js (https://github.com/skatejs/skatejs)
4. x-tag (https://x-tag.github.io/)

[2017-11-18 19:52] eavichay commented on #2
Starter kit for slim.js (webpack, typescript or es6) - https://github.com/eavichay/slim-webpack-boilerplate

[2017-11-18 20:06] eavichay opened #9 "you may want to remove manufactum as a reference"
Their website is built with react and babelized.

[2017-11-21 15:49] lawrence31983 commented on #6
Still had issues. I ended up spinning up on my linux box and it built etc fine.

[2017-11-25 23:27] ChristianUlbrich commented on #2
I agree with @naltatis - the whole point of the approach of the _"DOM being the API"_ is, that **every** framework / library that sticks to these conventions can be used. Maintaining a list of "tools", "frameworks" will **neither** be complete, **nor** current. Furthermore including certain tools or not could lead to endless discussions about being biased.

Using the presented approach, you can us

[2017-11-25 23:50] ChristianUlbrich commented on #7
Why would integrations tests have to be any different for micro-frontends? Micro-Frontends are an architectural style to build big apps. If you want to test functionality _across function verticals_, you employ exactly the same methods that you'd emloyed to test yarr big olde' monolithic app. **But** using a composition-based approach, you can:
 * **version** your components and hopefully rely on

[2017-11-26 09:58] romainl opened #10 ""Distributed" micro-frontends"
I've been working on a rather large e-commerce project and the pattern we chose for our micro-frontends is a bit different from the vertical pattern you describe.

Basically, we have:

* a (growing) number of strictly back-end microservices handling everything from querying the user repository to synchronizing our data with the legacy system,
* a (growing) number of strictly front-end microservice

[2017-11-26 20:09] eavichay commented on #2
I tend to agree, but the rising approach of "micro-frontends" does lead to solutions like web-components (IMHO it will eventually get there as the optimal solution) and these aren't treated enough. If libraries or ecosystems that works on top of this API are pushed aside, community will still be afraid to embrace those breakthroughs.

[2017-11-27 00:24] ChristianUlbrich commented on #2
Putting things in perspective: Micro-Frontends are an approach, to break the frontend monolith apart in function verticals. Quoting ThoughtWorks:

Achieving this goal can be done in many different ways. Web Components are just one (and don't get me wrong; I think they are the best solution) way of achieving this.

Web Components allow for a complete and sound composition framework; that will ultim

[2017-11-29 09:54] naltatis commented on #6
Ok, if someone knows how to get this to work on windows, please let me know.
But for now, I'll close this issue.

[2017-11-29 09:54] #6 closed

[2017-11-29 10:11] naltatis commented on #9
This is the site we are currently working on and have implemented the described techniques.
Yes, both teams chose to go with react for implementing their pages and fragments.

Micro Frontends is not about using or not using a specific technology. The important thing is to enable all end-to-end teams to develop end evolve their software independently from other teams and avoiding to build a fronten

[2017-11-29 10:11] #9 closed

[2017-11-29 11:01] naltatis commented on #2
Yes, the term "Micro Frontend" as defined by ThoughtWorks describes the an architecture with vertically organized end-to-end teams. On this site I'm describing a way to solve the frontend-integration challenge in the browser with existing web standards.

Facebook [BigPipe](https://www.facebook.com/notes/facebook-engineering/bigpipe-pipelining-web-pages-for-high-performance/389414033919) and Zaland

[2017-11-29 11:01] #2 closed

[2017-12-12 17:58] lawrence31983 opened #11 "angular questions"
Where in the code does it actually use angular? Would it have to be done differently if you are trying to server side render angular? Is there a way to contact you to talk more in depth on this?

[2018-02-08 10:52] debayanMuvi commented on #11
He has not used angular all he has build with react only

[2018-02-19 07:22] ido-ran opened #12 "Use of Components Between Frameworks"
Thank you for the details and code which show how to use Web Components to create micro-frontends.

One issue I think you are not addressing is how to reuse existing components (be it React components, AngularJS components or vanilla JS components) between frameworks/libraries.

I'm working on a large scale frontend app which was built with AngularJS (1.x) for the past 5 years. There is a lot of f

[2018-02-19 08:30] rainboxx commented on #12
Did you take a look at Web Components and frameworks that compile to those as a possibility for sharing components between frameworks?

[2018-02-19 13:40] ido-ran commented on #12
No, can you please add links if you have something specific?
I'm looking mostly on how to reuse AngularJS components because that's my use-case.

[2018-02-19 13:44] rainboxx commented on #12
Well, I think your AngularJS components cannot be reused as Web Components (I might be wrong, though). My intention was for the future path to create reusable components that are not tied to a framework, eg. through. https://stenciljs.com.

[2018-02-19 23:22] ChristianUlbrich commented on #12
@ido-ran I bet you are not the only one, wanting to break the good old AngularJS monolith apart. :)

I am currently employing a complete micro-frontend architecture based on some of the shown principles here in a of course closed-source project. The basic building blocks are _web components_ for a composition framework that are composed in a _host app_. That way you can distinguish three types of

[2018-02-20 03:33] mattiaerre commented on #12
hello @ido-ran
you may also want to check [OpenComponents](https://opencomponents.github.io/) as a way of creating micro-frontends and enable you and your team to break down your current presentation into smaller parts; this platform that we use and maintain at [OpenTable](https://www.opentable.com) is helping us to achieve what you just described.
Happy to [talk](https://gitter.im/opentable/oc) m

[2018-02-20 12:42] ido-ran commented on #12
@ChristianUlbrich we have an abundance of UI components 😄 We tried the Angular migration but we found it's very hard, especially because we have a lot of components and we will not migrate everything from AngularJS to Angular in the coming years.
Angular does provide a migration path to upgrade and downgrade components but the result is a mixed codebase where it's hard to understand which template

[2018-02-21 12:43] ido-ran commented on #12
@ChristianUlbrich I've looked at OpenComponents and it doesn't look right for us because we run our app both as SaaS and OnPrem. AFAIU the OnPrem option will not be possible because of the need for access to the registry.
It does look very interesting and I'll keep learning that, just one thing jumps immediately: even if everything works like magic I'll now be dependent on OpenComopnents, right? 😄

[2018-03-04 00:05] ChristianUlbrich commented on #12
@ido-ran I have only skimmed through OpenComponents. Their approach is another vendor-lock in as you have already guessed - you need a specific client and a very specific API. Interoperability with (future) frameworks and technologies is thus questionable. While I won't argue that it obviously works for them with OpenTable it is not something I would advise for a long term architecture. The core i

[2018-03-04 09:30] ido-ran commented on #12
@ChristianUlbrich I agree, the OpenComponent solution doesn't looks like good fit for me because the app I'm working on is deployed both to cloud providers, but also on-prem - specifically to support scenarios where deployments do not have access to the internet. While it is possible to install the registry as part of the deployment of our system, it defeats the purpose because we'll never deploy

[2018-05-14 20:03] naltatis commented on #4
Yes, if you want client side page transitions you would have to establish a shared [top-level router](https://speakerdeck.com/naltatis/micro-frontends-building-a-modern-webapp-with-multiple-teams?slide=38). This could also be done in a way that works server-side.

[single-spa](https://github.com/CanopyTax/single-spa) does a similar thing. They let the individual apps responde to url changes and ta

[2018-05-23 04:42] amazzoccone commented on #4
Thanks @naltatis ! 👍
UI Services have multiple Web Components and each one is responsable, is needed, of have their own _State Management_ (Redux for example) and request API to get/post data?

Let's say the back system has an API Gateway built with GraphQL..
Some Web Components of a UI Service could use internally Apollo to simplify requests?

What do you think of StencilJS?
If you like the idea,

[2018-05-23 06:33] naltatis commented on #4
Hi @amazzoccone,

Yes I would give every fragment/component it’s own data fetching and state management and it’s totally fine if a team decides to use GraphQL internally. It would also be ok for a team to share state between multiple of its own fragments on the same page, but not across different teams.

I really like the idea of stencil and played with their universal rendering feature a bit. I h

[2018-06-06 08:17] ido-ran opened #13 "Netlify Example"
Hi,
I've [adopted the static files example to run on Netlify](https://github.com/ido-ran/microfrontend-netlify-static).
I've deploy each team as different deployment and use `redirects` file to route requests to each team.

I can create a PR if you think it is good.

[2018-06-11 13:56] vinay01joshi commented on #11
Is there any plan to achieve this with angular 2 .

[2018-06-21 16:09] ntdatjoker opened #14 "Why apply micro-frontends approach?"
Hi,
I have just been researching about micro-frontends for 2 months and it is really an exciting topic. Thank for your informative material.
I know that monolith & micro-frontends have their own strength and weakness, there is no silver bullet,  but I want to ask you a question. **"How can you convince people to use micro-frontends instead of monolith?"**
I just want to know your ideas as a consul

[2018-06-21 17:58] DenisBiondic commented on #14
Isn't the first diagram at https://micro-frontends.org/ (organization in verticals) kind of self-explanatory, or do you mean something else? Basically micro frontends are like a special way of building verticals, where integrating multiple verticals via links is not enough, and for better UX you want to have multiple verticals (teams) integrated on the same page -> hence micro frontends aka. good

[2018-07-02 13:19] jonisar opened #16 "Adding Bit as a tool implementing microfrontend paradigms"
Hi Guys,

I've read (and loved) your website.
I couldn't help but think that the paradigm you describe is almost 1:1 implemented by Bit:
https://github.com/teambit/bit

* Isolating code from existing repos
* Organizing them as a team for reuse and development
* Team collaboration and change syncing across projects
* Technology agnostic

I was thinking it can be very helpful to refer to Bit from th

[2018-08-12 09:26] alrdytaken commented on #16
I think Bit introduces exactly the overhead and new-stuff-to-learn to a project that this one is trying to avoid.

[2018-08-12 18:57] ChristianUlbrich commented on #16
@jonisar You should maybe mention, that you are working on Bit (and I guess get payed for as well). Besides that, from what I can see bit is „just“ a tool for organizing shared packages and in that way it is more a competitor to npm / lerna+npm.

Microfrontends are an architectural pattern, that can be solved in a multitude of ways. Organizing code for a microfrontend approach is another problem.

[2018-08-12 20:27] ChristianUlbrich commented on #14
I always try to use two motifs to convince the management from the need for micro frontends:

1. time to market - scale, build, test and deploy your features faster
1. agility - no more vendor lock in
1. It has happened before and it will happen again - micro frontends are the brethren of micro services. Nearly all the arguments for the introduction of micro services do apply for micro frontends a

[2018-08-12 20:39] ChristianUlbrich commented on #12
@ido-ran Vendor lock-in means, that you employ a technology that is either proprietary and/or controlled by one vendor alone. Angular for example is at least on paper open source - though it is obvious, that the biggest features are developed internally and not open at Google - but it still is a proprietary technology, i.e. there is only one supplier and one runtime to run Angular.

Web Components

[2018-08-13 08:12] ido-ran commented on #12
Sounds good.
I'm no longer working on that app but I will take the lessons with me.

I'm closing this issue as it seems to run its course.

[2018-08-13 08:12] #12 closed

[2018-08-19 10:30] jonisar commented on #16
Thanks for the elaborated response and few fair points.

1. Yup, I'm on team Bit, didn't think it was hidden in any way- but ok point taken. Bit is open source and is still very relevant to the topic I think.

2. Bit is open source and bitsrc.io is 100% free for open source (always will be). Also, you can set up a hosting scope for your components anywhere on any server so no vendor is required...

[2018-08-19 11:41] ChristianUlbrich commented on #16
@jonisar No offense meant. While bit might solve some of the _organizational_ issues that a micro frontend paradigm involves, it adds complexity by forcing one to adopt an additional layer of software across the whole company / product. Obviously _there are_ benefits, but convincing everyone to adopt the new technology layer and forcing them to engineer additional software (such as an Angular buil

[2018-09-10 14:42] xdvarpunen opened #17 "In the nutshell"
Wrap content into custom elements to avoid polluting global CSS and JavaScript namespace and use prefixes in where it is not possible yet.

https://caniuse.com/#search=custom%20elements
Custom Elements don't seem to be supported well yet. This is restricting the platform choices.

Is micro-frontend Chrome first/only? Otherwise I would suggest prefix everything to be "Be Technology Agnostic".

[2018-09-10 14:50] xdvarpunen commented on #14
@ChristianUlbrich Micro-frontend could be seen as organized global namespace in all browser areas. It is smoother to do changes to different components without relying on single base as we do currently if you have developed your sites that way.
1. Time To Market - This helps incrementally change existing site and plan changes without changing completely everything
2. Agility - Currently spec state

[2018-09-10 17:47] romainl commented on #14
@xdvarpunen micro-frontends are just like microservices: an architectural pattern. And just like microservices, taht architectural pattern doesn't prescribe any specific technology. The frontend part of your micro-frontends can be ES6 + DOM4, or WebAssembly, or Flash, or whatever, and it could be served via Express on Node.js in a container deployed on Kubernetes, or Tomcat, or Apache, or whatever

[2018-09-10 20:18] xdvarpunen commented on #14
@romainl I don't understand

[2018-09-10 20:47] ChristianUlbrich commented on #14
@xdvarpunen I don't get, what your point really is. CustomElements is just an API; it can be reasonably polyfilled for all other browser in a very performant way. Angular+React are also using custom elements (i.e. `angular-app`), they just do not use the CustomElements API.

Available polyfills for CustomElements are production ready and support a wide range of browsers.

Maybe you are mixing up C

[2018-09-10 20:56] romainl commented on #14
@ChristianUlbrich Yeah, I totally get your vendor lock-in angle and fully agree with it. I was just trying to convey it in… different words.

FWIW, we too are doing it in React but if I were to write a reference I would do it in CustomElements.

[2018-10-16 18:15] rolimat opened #18 "Permission denied for nginx files"
Hi!! Im trying to run your examples on Ubuntu 16.04. Looks like everything is working fine except the page renders without CSS.

I got this error on the console:

`nginx_1       | 2018/10/16 18:10:25 [error] 7#7: *1 open() "/usr/share/nginx/html/common/page.css" failed (13: Permission denied), client: 172.19.0.1, server: , request: "GET /common/page.css HTTP/1.1", host: "127.0.0.1:3000", referrer:

[2018-10-16 18:35] rolimat commented on #18
ei just fixed it running this command in another different console:

`sudo docker exec -ti <container_id> chown -R nginx /usr/share/nginx/html`

I guess there should be a better way of fixing it

Thanks guys.

PS: this project is amazing, I really love it :)

[2018-10-28 09:34] chchrist commented on #14
Only one question. How do you develop a performant and visually consistent product with micro frontends?

[2018-10-28 23:36] ChristianUlbrich commented on #14
@chchrist
**...or** _how to get a good Job_
Let me answer it like that: How would you do it _without_ using micro frontends? :) The real life behemoth monster monolith frontend apps I have seen, never touted a great performance nor where they visually consistent across the board.

_Performance_ and _visual consistency_ are **non-functional** requirements. They have to be specified. What is perform

[2018-11-16 16:56] GrosSacASac opened #19 "Could you have a look at this example"
https://github.com/GrosSacASac/DOM99/blob/master/examples/js/microBlueBuy.js

I recently added dom99create.js specifically with micro frontends in mind. The main idea is that the framework code could be reused with different options.

In the example blue-buy I wrapped the module into a custom element so that it can be added via `document.createElement("blue-buy")`

I would appreciate feedback if t

[2018-11-16 17:03] GrosSacASac commented on #3
One thing to keep an eye on is html modules proposal, which could help create the composition team to compose all the micro frontends together https://github.com/w3c/webcomponents/issues/645

[2018-11-26 21:37] yuchi opened #20 "Suggestion: have a look at the Java Portlet specifications"
The Java Portlet Specification [(Wikipedia)](https://en.wikipedia.org/wiki/Java_Portlet_Specification) more or less tries to cover exactly what this project is all about, but the concept of a Component is called Portlet, and the scope of a “unit of functional collaboration” is a little bit bigger (a Portlet is a big page fragment, while a Component tends to be smaller).

There are many implementat

[2018-11-27 17:15] andrixb opened #21 "Top-level routing"
Hi there,

I hope I'm writing in the right section (otherwise I'll move it wherever it belongs).

I've been trying to implement the microservice architecture but even though I managed to run two different applications on the same page, I've been struggling a bit to get how to implement a proper routing.
In the website and in the videos I watched you talk about a top-level routing. Has this to be i

[2018-11-27 18:02] dhruvaldarji commented on #21
My team and I are also working on the same. We aren’t at the stage yet where we can split our monolith yet, but this question has been on our mind as well.

[2018-11-27 20:36] adrw commented on #21
With https://github.com/square/misk-web, our initial approach has developed into two idioms for sub-routes.

## 1. Sub-routes can only be extensions of the url domain of the component

| Component          | Component URL Domain | Allowed Sub-Routes |
| ------------------ | -------------------- | ------------------ |
| `<foo-component/>` | `/foo/`              | `/foo/*`           |
| `<bar-compon

[2018-12-02 17:26] Dzeco opened #22 "Nodemon"
Inclusion of the nodemon package to optimize encoding

[2018-12-02 20:15] #22 closed

[2018-12-13 04:31] fyz1994 opened #23 "Apply for translation"
hi,I am a front-end developer from China, can I have the honor to translate this article into Chinese?

[2018-12-13 09:16] GrosSacASac commented on #23
Hello, according to the latest activity on this repo, the owners are not looking too much at open issues ...
Follow the license and it is good to translate
https://github.com/neuland/micro-frontends/blob/master/LICENSE

[2018-12-13 09:17] BeneStem commented on #23
wow! That sounds really cool :)
That is a great way to reach more people and let the community grow even more!

What are the maintainers thinking about that?

[2018-12-13 09:18] BeneStem commented on #23
I can contact the owner in person and he will notify you :)

But yes following the LICENSE is usually a well approach.

[2018-12-13 13:58] naltatis commented on #23
Hi @fyz1994, yes you can definitely do a translation. I would be honored. @koiketakayuki did the Japanese translation in his own repository and we added links to each other. For the start I would recommend doing the same for Chinese.

At some point it might make sense to fold all translations back into this repository. But for now this solution is fine.

Fyi, I’m planning to add new content in the

[2018-12-17 03:02] arhont375 commented on #23
@naltatis Hi, I would like to translate this article into Russian.

[2018-12-17 05:04] naltatis commented on #23
@arhont375 Nice!

[2019-01-04 11:15] naltatis commented on #20
Thanks for the suggestion. Looks interesting. The focus of this spec seems to be focused around building sharepoint style enterprise portals, hence the name. Many concepts are directly related to the approach describe here (namespacing, resource loading, ...) but some are also very portal specific (storing portlet preferences, portlet titles, shared runtime). I'll read deeper into this spec, when

[2019-01-04 11:15] #20 closed

[2019-01-04 11:31] naltatis commented on #13
Hi @ido-ran,
thanks for your work and sorry for my late response. I don't have experience with Netlify, but being able to run all examples on the web would be great. I see two issues where I'm not sure Netlify can solve them:

- Server Side Includes or similar technique to assemble the initial server response
- The delayed API request with with query parameters `/green/api/reco?sku=t_fendt` (examp

[2019-01-04 12:09] naltatis commented on #16
I totally agree with @ChristianUlbrich here. The focus of this site is to describe the concepts behind micro frontends with simple examples that contain no technology choices beside existing standards.

That does not mean that specific technologies are not useful. I'd love to see the example implementations with different tools and frameworks. That would give people who are new to this topic an ea

[2019-01-04 12:09] #16 closed

[2019-01-04 23:54] ChristianUlbrich commented on #21
[Lay down your burdens](https://en.battlestarwikiclone.org/wiki/Lay_Down_Your_Burdens,_Part_I) you need to rethink, what URLs have been originally been used for - to link to an application at a certain state.

In the time of SPAs we _abused_ the URL for all sort of state-related things in our apps - we used it to _route_ to a certain state of the app (by _associating_ URLs with **components**). If

[2019-01-05 00:07] ChristianUlbrich commented on #21
@adrw I have to give your micro frontend architecture a try. Thanks for posting it! If I understood it correctly you have certain conventions what URLs (and sub paths) are mapped to certain components. This is a viable choice, but it needs coordination between teams to avoid naming collisions. Ultimately it weakens the isolation of components and might lead to problems in scaling - i.e. when certa

[2019-01-05 04:36] daKmoR commented on #21
I would disagree... I personally use individual URLs very often. Especially with the autocomplete of modern browsers

Example:
- I enter 'gith'
- I get
  - https://github.com/
  - https://github.com/open-wc/open-wc
  - https://github.com/webpack-contrib/karma-webpack
  - ... (as these have been my last/most visited URLs in the past days)
- I want to limit more so I can just autocomplete + type mor

[2019-01-21 09:27] alrdytaken opened #24 "Server Side Rendering"
To me it’s the only missing piece at the moment.
Do you have any ideas how that could be solved, yet?

So we could take any templating engine that has a
JavaScript verison, too which we could just run in
the browser i  like i.e. TwigJS. But then we’d have
a requirement on using nodejs on the backend.

[2019-01-22 07:09] romainl commented on #24
You need a composition solution on the back-end just like you need a composition solution on the front-end and using Node.js on the back-end allows you to share at least *some* code with the front-end.

The main problem, IMO, is *when* to do SSR in a distributed micro-frontends context. Calling *n* fragments via HTTP for SSR (even if they are on the same node) and then calling them again in the br

[2019-03-29 16:48] brion-fuller commented on #21
@ChristianUlbrich I really like the idea of separating state from the url.  This is something I have tried to solve and still haven't found a good solution for.

I see the same problems as above.  I do agree that URL is critical in the User Experience as this is a functionality commonly used and known to shortcut to desired pages.  But how does the **frame** know when a components state should be

[2019-04-25 16:39] yavuztor commented on #21
@brion-fuller , I have faced the same challenge in one of my recent projects. We were trying to encapsulate all ui for a micro service in single web component (custom element) and had a shell application to compose these elements in some fashion. One requirement for us was that each view should be addressable by url to allow bookmarks.

The way we solved the problem was to expect a `view` attribut

[2019-04-26 07:12] andrixb commented on #21
Hi there,
I actually solved that issue by taking inspiration from this repo:

https://github.com/me-12/single-spa-portal-example

He does reverse proxying through Webpack. It's actually unnecessary, you can just pass the URL where the entrypoint.js files are hosted.
Hope that help

[2019-04-26 07:13] #21 closed

[2019-06-17 12:38] mayankbhadauria opened #26 "Can we achieve this with angular elements"
I have tried to conceptualize microfrontend with Angular7 using angular-elements.
Not sure how and where to use <#include > with ngix which can intercept URLs.

Any plan to go in that road?

[2019-06-19 15:08] amazzoccone commented on #26
@mayankbhadauria you should expose an API that returns the component, so when it's exec `<#include..` it loads that part of code.
Main app -> loads from ui services what it needs (in this case using nginx functionality #include)

[2019-06-27 21:47] pineapple-content opened #27 "Micro-frontends as an advantage to using web components with a headlessCMS"
We highlight micro-frontends as a major benefit to using web components with a headless CMS in our blog post. https://buttercms.com/blog/using-web-components-with-buttercms

[2019-08-20 18:34] SpellChucker opened #28 "Team Blue Missing!"
With the latest commit, team blue is missing! Therefore the `DockerFile` can't find it.

201829e6e81fe6268db80d82efd8b3334201d1a1

[2019-08-21 07:08] #28 closed

[2019-08-21 07:09] naltatis commented on #28
Hi @SpellChucker,
thanks for the issue. I indeed cleanup up a little too much. Wanted to remove the `build` folders but accidentally eliminated the complete team :)
Now it should work again.

All the best, Michael

[2019-10-14 14:52] SassNinja opened #29 "share common resources between teams"
The website says 'share common resources between teams' but I wasn't able to find detailed information about this topic.

If two teams use the same technology (let's say React) how can they prevent the client from loading a huge amount of assets (in particular the whole react vendor)?

I like the idea of verticalization and that each team is completely independent (own backend, own database, own f

[2019-10-14 19:28] oleg-andreyev commented on #29
@SassNinja great question! Currently we are also researching "micro frontends" and we've raised similar question internally. One solution what we will try is to mark React as external dependency in Production and require dependency in Development, so the idea is to use React "interfaces" / "contracts".

[2019-10-15 06:29] dennisreimann commented on #29
As long as you know what you are doing and are aware of the trade-offs, that is a valid approach to achieve this. Trade-offs here are that teams aren't really independent anymore and loose the ability to upgrade without coordination (i.e. synchronuous deployment).

Citing the website:

This also has it's trade-ofss, as @SassNinja layed out this comes with performance costs, as bundle content will

[2019-10-16 07:40] naltatis commented on #29
Thats definitely the case. We've used different approaches. My current favourite one is to choose a tech-stack where the vendor library overhead is so small that it becomes a non-issue. Hyperapp, Svelte, Preact or Stencil are good candidates ([I've talked about this here](https://noti.st/naltatis/zQb2m5/micro-frontends-the-nitty-gritty-details-or-frontend-backend-happyend#suy1R0A)).
In this case y

[2019-10-16 09:09] #19 closed

[2020-03-04 07:30] afsec opened #32 "Thanks about micro-frontends concept."
@naltatis

Thanks about your micro-frontends initiative. I was inspired and made my own framework.

https://github.com/afsec/cellular-js

Cheers!

[2020-03-04 07:55] naltatis commented on #32
@afsec Thanks for your contribution. I've added it to my list of tools to examine further :)
I'm planning to expand the site in the future and add a "tools" section where libraries like yours can be aggregated and maybe compared.

You should propose your project to the awesome lists of @ChristianUlbrich and @rajasegar.

[2020-03-04 07:55] #32 closed

[2020-05-06 05:10] prasshantg opened #33 "Any ETA for navigation reference?"
I am looking for reference to develop wizard using micro-frontends. I suppose the navigation reference should cover it. Do you have any ETA for it? Or any documentation how to achieve it?

[2020-05-23 22:13] NeeleshJaiswal opened #34 "micro frontend"

[2020-08-07 11:26] Tautorn opened #37 "Added Portuguese Translation"
Hi there.

I did translate micro-frontends to Portuguese, but I don't buy a domain like in JP and ES version.

Can I keep in my own github page domain?

https://tautorn.github.io/micro-frontends/

[2020-08-07 14:21] naltatis commented on #37
Nice one 🤩 Yes, having a custom domain is definitely optional.
Thanks for your work. I've added your site to the header and meta data and put your name into the contributors list at the bottom.

💚 Michael

[2020-08-07 14:21] #37 closed

[2020-09-27 22:53] 16pxdesign commented on #33
I would also be interested in continuing the topic

[2020-11-03 15:06] MartinDevillers commented on #14
The biggest advantage of this approach is not a technical, but an organizational one. Micro frontends enable an organization to split different features of an application across multiple teams, where each team is **fully** responsible for one specific feature. The value of a team is no longer defined as "Team Basket provides the market basket API" (low value), but as "Team Basket provides the best

[2021-03-15 14:58] soobing opened #42 "Added Korean Translation"
I translated micro-frontend into Korean.
Can I use domain with github pages?

These are should be added.
[code]

[code]

[code]

Thanks for nice article with examples 👍🏻

[2021-03-16 14:02] soobing commented on #42
@naltatis Hi ~~~ 😃

[2021-03-16 14:09] naltatis commented on #42
Hi @soobing, thanks for the translation. I'll add the references later today.
And yes, using a GitHub pages domain is perfectly fine for me.

[2021-03-16 19:56] naltatis commented on #42
I've added the references. Thanks for your work @soobing! 🍒

[2021-03-16 19:56] #42 closed

[2021-05-20 15:26] ewolff opened #49 "Misleading diagram wrt frameworks"
https://github.com/neuland/micro-frontends/blob/master/ressources/screen/three-teams.png seems to indicate that the three teams should use three different frameworks (Vue, React, Angular). At least the logos for these frameworks are present in the screen. However, that is not what the example code seems to use. Also this approach would use a lot of resources and slow down loading the application a

[2021-05-20 15:36] naltatis commented on #49
Hi @ewolff. Yes, the diagram shows these different frameworks side by side to illustrate the level of isolation and autonomy we should aim for. In contrast to integration through the component system of one specific framework. But I agree that the diagram and surrounding text should be updated to make this clear.

[2021-07-16 12:47] naltatis commented on #49
I've removed the framework logos from the diagram and added a "Avoid Framework Anarchy" section to the content.

[2021-07-16 12:47] #49 closed

[2021-07-16 12:48] naltatis commented on #23
Russian and Chinese translations have been added. More translations are always welcome.

[2021-07-16 12:48] #23 closed

[2021-07-16 12:49] #34 closed

[2021-08-08 20:15] f1ames0ff opened #57 "Why did you start to call component architecture as "microfrontends"?"
The topic.

[2021-08-17 22:18] stevula commented on #57
I agree. The page seems to be more about Web Components than micro-frontends as a general concept. I find [the article from ThoughWorks](https://martinfowler.com/articles/micro-frontends.html) gives a more thorough summary of some other approaches besides web components.

[2021-09-30 06:34] OneShiv opened #59 "How to have error handling mechanism in microfrontends?"
I have read few blogs and it makes sense to have error handling responsibility given to each micro-frontend.
But there might be scenarios where among micro-frontend you would like to have consistency in handling common errors specially for api status 400/500 ones. If we extract api abstraction layer into a package or in orchestrator application where should we put our error handling mechanism?

[2021-10-01 08:30] ukslim commented on #59
One option is to have a micro-frontend dedicated to responding to such errors - I guess what you mean by "handling" is some sort of visible element saying "Something went wrong, please try again later" etc.

This MFE would listen for events published by other MFEs in the browser window. Now the only thing the MFEs experiencing the errors need to do, is publish the "This error happened to me" event

[2021-10-08 13:57] ThanosAlmighty opened #60 "Universal Composition: Render Call Question"
Noticed a call to a render(sku) function on line 23 from the sibling level import of render.js

![image](https://user-images.githubusercontent.com/32068435/136569439-14e4bc65-3b6e-44fe-904f-92ff8d608d6d.png)

When I look at the function in the file, however, the static function name is actually renderRecos().

![image](https://user-images.githubusercontent.com/32068435/136569866-7dede915-5974-4f3f

[2021-10-11 14:31] naltatis commented on #60
`renderRecos` is the default export of the `render.js` file.
In `custom-element.js` imports the module and saves the default export under the name `render` locally.
I could also have omitted the `renderRecos` name and only provide an anonymous function but I named it for better readability.

[2021-10-11 14:31] #60 closed

[2021-10-11 16:32] ThanosAlmighty commented on #60
Okay! This is just my lack of familiarity with raw JS. Thanks for clarifying

[2022-01-18 10:46] rangrasjay opened #61 "Integrate micro frontend from different repo?"
Here, we are planning to move all of our common components to one different repo and then integrate it with with our all other portals which are on again different different repos. My question is, how to integrate it? I tried to integrate it in package.json and fetch repo along with branch as module. But that didn't worked on azure. Now, I am going to try git submodules. Please tell me is it a cor

[2022-01-18 11:07] naltatis commented on #61
For us, each team has it's own repository and CI/CD pipeline. We try to share as little as possible to minimize inter-team dependencies. For components we need to share (e.g. a central design system) a good way ist to have them in a separate repository and publish it as an NPM package. This way each team is free to install and upgrade the shared dependencies at their own pace.

[2022-01-18 11:12] #61 closed

[2022-04-22 13:12] nedredmond commented on #57
It's a decent primer.